<div class="container-fluid mb-4 border-bottom">
    <div class="card text-center">
        <div class="card-header">
            Geração da linha digitável
        </div>
        <BsForm @layout="horizontal" @model={{this}} as |form|>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <form.element @controlType="number" @property="socialNumber" as |el|>
                            <el.control class="form-control no-arrow-numbers" placeholder="Número do PIS" pattern="\d*"
                                required />
                        </form.element>
                        <div id="socialNumberHelp" class="form-text text-muted">Número de identificação social</div>
                    </div>
                    <div class="col">
                        <select id="paymentCode" class="form-control" {{on 'change' this.updatePaymentCode}} required>
                            {{#each @paymentCodes as |code|}}
                            <option value="{{code.id}}" selected={{code.current}} disabled={{code.inactive}}>
                                {{code.description}}
                            </option>
                            {{/each}}
                        </select>
                        <div class="form-text">Código de pagamento</div>
                    </div>
                    <div class="col">
                        <form.element @controlType="number" @property="paymentValue" as |el|>
                            <el.control class="form-control" placeholder="Valor da contribuição (R$)" min="242.40"
                                max="1501.49" step="0.01" value="242.40" required />
                        </form.element>
                        <div class="form-text">
                            Respeitando o mínimo e teto
                        </div>
                    </div>
                    <div class="col">
                        <form.element @controlType="month" @property="referenceDate" as |el|>
                            <el.control class="form-control" min="2022-01" value="2023-01" required />
                        </form.element>
                        <div class="form-text">Data de referência</div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="text-end">
                    <BsButton @defaultText="Limpar" @type="warning" @buttonType="reset" {{on "click" this.cleanData}} />
                    <BsButton @defaultText="Gerar Dados" @type="primary" @buttonType="submit" @preventConcurrency={{true}} {{on "click" this.generate}}/>
                </div>
            </div>
        </BsForm>
    </div>
</div>
<div class="container-fluid mb-4 border-bottom">
    <div class="card text-center">
        <div class="card-header">
            Código para pagamento no internet banking   
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-xs-12">
                    <Alert @type={{this.response.type}} @data={{this.response.data}} />
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="text-end {{if (not-eq this.response.type 'success') (concat 'invisible')}}">
                <button type="button" class="btn btn-success" {{on "click" this.copyPayableDocumentGpsData}}>Copiar
                    número</button>
            </div>
        </div>
    </div>
</div>
