<div class="container px-4 py-2">
    <h2 class="pb-2 border-bottom">Cálculo</h2>
    <div class="row align-items-md-center g-5 py-2">
        <form {{on "submit" this.generate}}>
            <div class="row bg-light p-4">
                <div class="col col-12 col-sm-3">
                    <label for="socialNumber" class="form-label">Número de identificação social</label>
                    <Input id="socialNumber" @value={{this.socialNumber}} @type="number" min="124" max="19999999999"
                        class="form-control no-arrow-numbers" pattern="\d*" required />
                    <div class="form-text">Este dado não é salvo em nenhum lugar</div>
                </div>
                <div class="col col-12 col-sm-3">
                    <label for="paymentCode" class="form-label">Código de operação</label>
                    <select id="paymentCode" class="form-control" {{on 'change' this.updatePaymentCode}} required>
                        {{#each @paymentCodes as |code|}}
                        <option value="{{code.id}}" selected={{code.current}} disabled={{code.inactive}}>
                            {{code.description}}
                        </option>
                        {{/each}}
                    </select>
                </div>
                <div class="col col-12 col-sm-3">
                    <label for="paymentValue" class="form-label">Valor de contribuição *</label>
                    <div class="input-group">
                        <span class="input-group-text">R$</span>
                        <Input id="paymentValue" @value={{this.paymentValue}} @type="number" class="form-control"
                            min={{this.currMinPaymentValue}} max={{this.currMaxPaymentValue}} step="0.01" required />
                    </div>
                    <div class="form-text">* Mínimo estipulado em {{this.currRefDateTxt}}, atente-se ao máximo estipulado</div>
                </div>
                <div class="col col-12 col-sm-3">
                    <label for="referenceDate" class="form-label">Data de referência</label>
                    <Input id="referenceDate" @value={{this.referenceDate}} @type="month" class="form-control"
                        min="2023-01" required />
                    <div class="form-text">A contribuição é sempre paga no mês subsequente</div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="text-end">
                    <button type="button" class="btn btn-warning" {{on "click" this.cleanData}}>Limpar</button>
                    <button type="submit" class="btn btn-primary">Gerar Dados</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container px-4 py-2">
    <h2 class="pb-2 border-bottom">Resultado</h2>
    <div class="row align-items-md-center g-5 py-2">
        <div class="col col-12">
            <ClipboardToast @option={{this.clipboardToastOption}} />
            <Alert @type={{this.response.type}} @data={{this.response.data}} />
        </div>
        <div class="col col-12 m-0 text-end {{if (not-eq this.response.type 'success') (concat 'invisible')}}">
            <button type="button" class="btn btn-success" {{on "click" this.copyPayableDocumentGpsData}}>Copiar
                número</button>
        </div>        
    </div>
</div>
