<div class="container px-4 py-2">
    <h2 class="pb-2 border-bottom">Links úteis</h2>
    <div class="row align-items-md-center g-3 py-2">
            {{#each this.links as |link|}}
                <div class="col-12 col-sm-4 mb-4 align-items-stretch">
                    <LinkCard
                        @title={{link.title}} 
                        @tag={{link.tag}} 
                        @tagtype={{link.tagtype}}
                        @url={{link.url}} 
                        @description={{link.description}} />
                </div>
                {{/each}}
    </div>
</div>
