{{page-title "Sobre"}}
<div class="container px-4 py-2">
    <h2 class="pb-2 border-bottom">Quem somos</h2>
    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
        <div class="col d-flex flex-column align-items-start gap-2">
            <h3 class="fw-bold">Pessoas ajudando outras pessoas com uso de tecnologia</h3>
            <p class="text-muted">Isso é apenas um sonho virando realidade</p>
            <ul class="list-inline text-white">
                {{#each @model.contactLinks as |link|}}
                <li class="list-inline-item">
                    <LinkButton @icon={{link.icon}} @url={{link.url}} />
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<div class="container px-4 py-2">
    <h2 class="pb-2 border-bottom">Referências</h2>
    <div class="row align-items-md-center g-5 py-2">
        <div class="col-12">
            <ul class="list-inline text-white">
                {{#each @model.technologyLinks as |link|}}
                <li class="list-inline-item">
                    <LinkButton @description={{link.description}} @icon={{link.icon}} @url={{link.url}}
                        @version={{link.version}} />
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
